<?xml version="1.0" encoding="UTF-8"?>
<!--
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
# 
# http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#  KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
-->
<widget>
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="false" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="UIWebViewBounce" value="true" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="2" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />

    <content src="index.html" />

    <plugins>
        <plugin name="Device" value="CDVDevice"></plugin>
        <plugin name="Logger" value="CDVLogger"></plugin>
        <plugin name="Compass" value="CDVLocation"></plugin>
        <plugin name="Accelerometer" value="CDVAccelerometer"></plugin>
        <plugin name="Camera" value="CDVCamera"></plugin>
        <plugin name="NetworkStatus" value="CDVConnection"></plugin>
        <plugin name="Contacts" value="CDVContacts"></plugin>
        <plugin name="Debug Console" value="CDVDebugConsole" />
        <plugin name="Echo" value="CDVEcho"></plugin>
        <plugin name="File" value="CDVFile"></plugin>
        <plugin name="FileTransfer" value="CDVFileTransfer"></plugin>
        <plugin name="Geolocation" value="CDVLocation"></plugin>
        <plugin name="Notification" value="CDVNotification"></plugin>
        <plugin name="Media" value="CDVSound"></plugin>
        <plugin name="Capture" value="CDVCapture"></plugin>
        <plugin name="SplashScreen" value="CDVSplashScreen"></plugin>
        <plugin name="Battery" value="CDVBattery"></plugin>
        <plugin name="Globalization" value="CDVGlobalization"></plugin>
        <plugin name="InAppBrowser" value="CDVInAppBrowser"></plugin>
        <plugin name="PushNotification" value="PushNotification"></plugin>
    </plugins>

    <access origin="forstartersapp.com" />
	<access origin="qbixstaging.com" />
	<access origin="macbook.local" />
	<access origin="*.facebook.net" />
	<access origin="*.facebook.com" />
	<access origin="api.geonames.org" />
	<access origin="maps.google.com" />
	<access origin="*.googleapis.com" />
	<access origin="*.gmaptiles.co.kr" />
	<access origin="*.gstatic.com" />
	<access origin="*.sdk.testflightapp.com" />
    <access origin="*.stripe.com" />

</widget>
